<a href="https://colab.research.google.com/github/feulo-ocean/aula_docker/blob/master/python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python: Conhecendo a Linguagem

# O que é Programação?

## O que é um programa de computador?
## O que é um algoritmo?

# Um pouco mais Sobre o Python

## O que programar? (aplicações)
## Aonde programar? (ambientes)
## Como instalar o interpretador?

# A linguagem ("Hello World")

In [ ]:
print("Hello World")

Hello World

#Tipos de Dados básicos

In [ ]:
print(type(2)) # O tipo do número 2 é int (número inteiro)
print(type(2.5)) # O tipo do número 2.5 é float (número decimal)
print(type(1+1j)) # O tipo do número 1 + 1j (j é o número imaginário) é complex
print(type("O termo 'termo' esta entre aspas\n")) # Sequencia de caracteres para armazenar texto
print(type(False)) # tipo booleano para Verdadeiro (True) e Falso (False)

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

## Variáveis

Uma variável não pode ter o nome comçado por números, eveitmem palavras-chave da linaguagem e caracateres especiais

In [ ]:
altura_do_guilherme = 1.90 # nome_da_variavel = valor
texto = "Hello world"
chovendo = True

In [ ]:
print(altura_do_guilherme, texto, chovendo)

1.9 Hello world True

## Operações básicas (e nem tão básicas)

### Com dados numéricos

In [ ]:
print(2.5+5j + 1) # o '+' é a soma usual
print(10 - 1) # o '-' é a subtração usual
print(2 * -2.5) # o '*' é a multiplicação usual
print(10 / 3) # o '/' é a divisão usual

print(4 ** -0.5) # o '**' é a potenciação
print(10 // 4 ) # o '//' é o quociente da divisão inteira
print(10 % 4) # o '%' é o resto da divisão inteiro

(3.5+5j)
9
-5.0
3.3333333333333335
0.5
2
2

### Com dados texto

In [ ]:
anos = input("Digite sua idade: ")
frase = "Ola eu sou Guilherme e tenho " + anos  + " anos" # o '+' é a concatenação de strings
print(frase)
print("repete " * 2) # o '*' repete a string x vezes onde x é um número inteiro

Digite sua idade: 50
Ola eu sou Guilherme e tenho 50 anos
repete repete

In [ ]:
("oi " + "tudo bem ") * 4

'oi tudo bem oi tudo bem oi tudo bem oi tudo bem '

In [ ]:
5 + "5" # não funciona

TypeError: ignored

### Com booleanos

In [ ]:
False +  False# converte o True para 1 e o False para 0 e faz numericamente

0

In [ ]:
True + 4

5

In [ ]:
# conversão de tipos de Dados

string = "34.5"
numero = float(string)
numero + 10

44.5

In [ ]:
a= 10
str(a)

'10'

In [ ]:
### Escreva uma sequência de operações em python que converta um valor em real para dólar
valor_em_real = float(input("Digite o valor em reais: "))
valor_em_dolar = valor_em_real / 5.62
saida = f'O valor é $ {valor_em_dolar:.2f} dolar'
print(saida) 
## Escreva uma sequência de operações em python que converta um valor em dólar para real

Digite o valor em reais: 5.62
O valor é $ 1.00 dolar

In [ ]:
## Exercicio Conversão de Celsius para Farenheit

##  C * 9/5  + 32 = F

In [ ]:
#Marco
temperatura_Celcius = float(input("Digite a temperatura atual em Celcius: "))
temperatura_em_F = temperatura_Celcius * 9 / 5 + 32
saida = f'A temperatura em F é {temperatura_em_F:.2f} Farenheit'
print(saida)

Digite a temperatura atual em Celcius: 0
A temperatura em F é 32.00 Farenheit

In [ ]:
#Pedro
temp = float(input("Qual a sua temperatura em ºC? "))
f = (temp * 9/5) + 32
print(f"Sua temperatura em Farenheit é de {f:.2f}")

Qual a sua temperatura em ºC? 0
Sua temperatura em Farenheit é de 32.00

In [ ]:
#Kaciana
temperatura_Celcius = float(input("Digite a temperatura atual em Celcius: "))
temperatura_em_F = temperatura_Celcius*9/5+32
saida = f'A temperatura em F é $ {temperatura_em_F:.2f} Farenheit'
print(saida)

Digite a temperatura atual em Celcius: 180
A temperatura em F é $ 356.00 Farenheit

In [ ]:

# Ernineu
c = float(input("Digite a temperatura em celsus: "))
f = c * 9/5 + 32;
print("O valor em Farenheit eh:", f)

Digite a temperatura em celsus: 0
O valor em Farenheit eh: 32.0

In [ ]:
#Ray
valor_em_celsius = float(input("Digite o valor em Celsius: "))
valor_em_farenheit = valor_em_celsius * 9/5 + 32
saida = f'O valor é {valor_em_farenheit:.2f} º F' 
print(saida)

Digite o valor em Celsius: 0
O valor é 32.00 º F

In [ ]:
valor_em_celsius = float(input("Digite o valor em Celsius: "))
valor_em_farenheit = valor_em_celsius * 9/5 + 32
saida = f'O valor é {valor_em_farenheit:.2f} º F'
print(saida)

Digite o valor em Celsius: 0
O valor é 32.00 º F

# Desvios condicionais

if condicao:
  codigo para executar quando a consiçãão for verdadeira
  mais codigo
  mais codigo
outros códigos que não dependem da condição

In [ ]:
print('executa antes do if')
if True:
  print('Era verdadeira')
  print('Outro Texto dentro do if')
print('Imprimo independente do if')

executa antes do if
Outro Texto dentro do if
Imprimo independente do if

In [ ]:
# Operadores de Comparação 

print("3 == 2:", 3 == 2) # '==' representa igualdade 
print('"texto" == "texto":', "texto" == "texto")
print('"2.34" == 2.34:', "2.34" == 2.34)
variavel = '5.78'
print("variavel == 5.78:", variavel == '5.78')

print("2 > 3:", 2 > 3) # '>' verifica se o número a esquerda do símbolo é maior que o da direita
print("2 > 2:", 2 > 2)
print("2 < 3:", 2 < 3) # '<' verifica se o número a esquerda do símbolo é menor que o da direita
print("2 < 2:", 2 < 2)

print("2 >= 3:", 2 >= 3) # '>=' verifica se o número a esquerda do símbolo é maior ou igual que o da direita
print("2 >= 2:", 2 >= 2)
print("2 <= 3:", 2 <= 3) # '<=' verifica se o número a esquerda do símbolo é menor ou igual que o da direita
print("2 <= 2:", 2 <= 2)

print("3 != 2:", 3 != 2) # '!=' verifica se os números são diferentes 
print("2 != 2:", 2 != 2) # '!=' verifica se os números são diferentes

3 == 2: False
"texto" == "texto": True
"2.34" == 2.34: False
variavel == 5.78: True
2 > 3: False
2 > 2: False
2 < 3: True
2 < 2: False
2 >= 3: False
2 >= 2: True
2 <= 3: True
2 <= 2: True
3 != 2: True
2 != 2: False

In [ ]:
# a*x² + b*x + c = 0

# x² - x + 1 = 0 -> delta = -3 < 0
# x² +2x + 1 = 0 -> delta = 0
# x^2 - 4x = 0 - > delta = 16 > 0

# le os dados de entrada
a = float(input("Digite o valor de a: "))
b = float(input("Digite o valor de b: "))
c = float(input("digite o valor de c: "))


print(f"O problema que você quer resolver é: {a}x² + {b}x + {c} = 0")
# Calcula o Delta

delta = b * b - 4 * a * c
print(f"Delta é igual a: {delta:.3f}")

if delta > 0:
  x1 = (-b + delta ** 0.5)/(2 * a)
  x2 = (-b - delta ** 0.5)/(2 * a)
  print(f"O problema tem 2 soluções: {x1:.3f} e {x2:.3f}")

elif delta < 0:
  print("O problema não tem soluções reais")

else:
  x = (-b + delta ** 0.5)/(2 * a)
  print(f"O problema possui apenas uma solução: {x}")

Digite o valor de a: 1
Digite o valor de b: 2
digite o valor de c: 1
O problema que você quer resolver é: 1.0x² + 2.0x + 1.0 = 0
Delta é igual a: 0.000
O problema possui apenas uma solução: -1.0

In [ ]:
##  Carro flex 

## se o valor etanol dor maior que 70% do valor do valor gasolina -> gasolina
## se o valor do etanol for menor ou igual a 70% do valor gasolina -> etanol


#gasolina, etanol = 4, 1 # etanol
#gasolina, etanol = 4, 3 # gasolina
#gasolina, etanol = 10, 7 # etanol
#gasolina, etanol = 10, 7.0000000001

gasolina = float(input("Informe o vlor da gasoolina: "))
etanol = float(input("Informe o valor do etanol: "))
coeficiente = etanol/ gasolina
if coeficiente > 0.7:
  print("Gasolina")
else:
  print("Etanol")

Gasolina

### Exercicio
dada a tabela o IR, faça um programa que recebe o salário de um trabalhador e devolve o valor do imposto.

|Base de cálculo (R$)	|Alíquota (%)|
--------------------- |-------------|
|Abaixo de 1.903,99    | 0%  |
|De 1.903,99 até 2.826,65|	7,5%	|
|De 2.826,66 até 3.751,05|	15%	|
|De 3.751,06 até 4.664,68|	22,5%	|
|Acima de 4.664,68|	27,5%|

In [ ]:
# Solução
salario = float(input("Digite seu salário mensal: "))
if salario < 1903.99:
  valor = 0
elif salario <= 2826.65:
  valor = salario * 0.075 
elif salario <= 3751.05:
  valor = salario * 0.15
elif salario <= 4664.68:
  valor = salario * 0.225
else:
  valor = salario * 0.275 
print(f"O valor a ser pago de IR é R${valor:.2f}")

Digite seu salário mensal: 10000
O valor a ser pago de IR é R$2750.00

# Laços de repetição

## While (enquanto)

while condição:
  executa código para a condição verdadeira

In [ ]:
numero = 1 # inicialização

while numero <= 10: # a condiçãão é verdadeira
  print(numero)
  numero = numero + 5 # atualiza a condiçãão
print('terminou')

1
6
terminou

In [ ]:
numero = 0


while numero <= 10:
  print(numero, end=" ")
  numero = numero + 1

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
base = 2
expoente = 3

resultado = 1
while expoente > 0:
  resultado = resultado * base
  expoente = expoente - 1

print(resultado)

8

In [ ]:
## Le números o usuário até ele digitar o numero -1 (ok)
## calcula a média dos números digitados



lista_de_notas = le_numeros()
if len(lista_de_notas) == 0:
  print('não posso calcular média de 0 notas')
else:
  print(f"A média dos numero é: {calcula_media(lista_de_notas)}")

digite um número ou 0 para parar: 2
digite um número ou 0 para parar: 4
digite um número ou 0 para parar: 0
A média dos numero é: 3.0

2
## For (para cada)

In [ ]:
for i in [5 , "texto", 2 , -1, 4.56, True]:
  print("a variável i vale:", i)

a variável i vale: 5
a variável i vale: texto
a variável i vale: 2
a variável i vale: -1
a variável i vale: 4.56
a variável i vale: True

# Coleções de dados

### Listas

In [ ]:
lista = [0,2,4,5, 67, 89]

In [ ]:
# acessar um elemento da lista
print(lista[4])

67

In [ ]:
lista[4] = 10
print(lista)

[0, 2, 4, 5, 10, 89]

In [ ]:
lista.append(98)

In [ ]:
lista.insert(4, 12)

In [ ]:
print(lista)

[0, 2, 4, 5, 12, 10, 89, 51, 98, 4]

In [ ]:
deletado = lista.pop(7)
print(lista)
print(deletado)

[0, 2, 4, 5, 12, 10, 51, 4]
98

In [ ]:
lista2 = []
print(lista2)

[]

In [ ]:
lista2.append("hello")
print(lista2)

['Olá', 'hello']

In [ ]:
len(lista)

8

## Dicionários

In [ ]:
dicionario = {'nome': 'Guilherme', 'matricula': 123456, 'cpf': 0000000, 'notas': {'matematica': [8, 9, 10], 'portugues': [7, 5]} }

In [ ]:
dicionario['notas']['matematica'][1]

9

In [ ]:
dicionario['rg']

KeyError: ignored

In [ ]:
dicionario['notas'] = 0

In [ ]:
dicionario['altura'] = 1.8

In [ ]:
dicionario[3] = True

In [ ]:
dicionario['3']

KeyError: ignored

In [ ]:
print(dicionario)

{'nome': 'Guilherme', 'matricula': 123456, 'cpf': 987654, 'notas': 0, 'altura': 1.8, 3: True}

In [ ]:
for nome1, nome2 in dicionario.items():
  print(nome1, nome2)

nome Guilherme
matricula 123456
cpf 987654
notas 0
altura 1.8
3 True

## Tuplas

In [ ]:
t = (1,2, 3)

In [ ]:
t[0] = 10

TypeError: ignored

## Muitas outras coleções!

# Funções

In [ ]:
def diz_ola():
  print('Olá')
  print('tudo bem?')
  print('outro print')

In [ ]:
def le_numeros():
  lista_de_notas = []
  nota = float(input("digite um número ou 0 para parar: ")) # inicialização
  while nota != 0: # enquanto a condição for verdadeira
    lista_de_notas.append(nota)
    nota = float(input("digite um número ou 0 para parar: ")) # atualização
  return lista_de_notas

In [ ]:
def calcula_media(lista_para_calcular):
  soma = 0
  for elem in lista_para_calcular:
    soma = soma + elem
  return soma/len(lista_para_calcular)

In [ ]:
minha_lista = le_numeros()

digite um número ou -1 para parar: 2
digite um número ou -1 para parar: 5
digite um número ou -1 para parar: 8
digite um número ou -1 para parar: -1

In [ ]:
minha_lista

[2.0, 5.0, 8.0]

In [ ]:
import math

In [ ]:
math.sin(5)

-0.9589242746631385

In [ ]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
math.pi

3.141592653589793